<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 - PAGE NOT FOUND</title>
	<style>
    body {
    	background: #ddda0c;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	-ms-align-items: center;
    	align-items: center;
    	font-family: Helvetica, sans-serif;
    	font-size: 30px;
    	height: 100vh;
    	overflow: hidden;
    }

    h1, a {width: 100%; text-align: center; margin: 0;}
    a {position: absolute; top: 60%; color: #fff;}
	</style>
</head>
<body>
	<h1>404 - PAGE { <%= url %> } NOT FOUND</h1>
	<a href="/">BACK</a>
</body>
</html>
