<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= hello %></h1>
  <img src="/image/2.png" alt="">

  <script src="/js/main.js"></script>
</body>
</html>
