<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h1>NEWS TWO</h1>

<nav>
	<a href="/">Home</a>
	<a href="./one">One</a>
  <a href="./two">two</a>
</nav>

</body>
</html>
